body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-image:
  linear-gradient(135deg, hsla(136, 50%, 10%, 0.7), hsla(140, 70%, 42%, 0.2)),
    url("/wildforest.jfif");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  width:100%;
  z-index:2;
  height: auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*{
  margin: 0;
  padding: 0;
}

html{
  scroll-behavior: smooth;
}

body{
  font-size: 100%;
  font-family: 'Ubuntu', sans-serif;
}

.cover{
  width: 900px;
  height: 400px;
  margin-top: 50px;
  display: flex;
}

.box{
  position: relative;
  margin: 10px;
  width: 800px;
  height: 330px;
  top: 22%;
  left: 4%;
  box-shadow: -1px 0 10px #000;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: white;
}

.box h2{
  margin-top: 5%;

}

.box p{
  margin-top: 3%;
  font-size: larger;
}

img{
  width: 300px;
  height: 200px;
}

div, section, span, ul, li, a, header{
  box-sizing: border-box;
}

/*css reset*/

header{
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
  align-items: center;
  position: fixed;
  z-index: 999;
}

#menu li{
  list-style: none;
  display: inline-block;
  margin: 20px;
}

#menu li a{
  color: #fff;
  text-decoration: none;
  font-size: 20px;
}

section{
  width: 100%;
  float: center;
  height: 100vh;
  position: relative;
}

section#home h1{
  position: relative;
  text-align: center;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 70px;
  font-weight: 700;
  color: #fff;
}

section#home p{
  position: relative;
  text-align: center;
  top: 40%;
  left: 50%;
  padding-bottom: 15px;
  transform: translate(-50%, -50%);
  font-size: 20px;
  color: #fff;
}

section#wildfires h1{
  position: relative;
  text-align: center;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 70px;
  font-weight: 700;
  color: #fff;
}


section#help h1{
  position: relative;
  text-align: center;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 70px;
  font-weight: 700;
  color: #fff;
}

#help ul{
  margin:0;
  padding:0;
  text-align: center;
  list-style:none;
  position: relative;
  text-align: center;
  top: 35%;
  left: 50%;
  padding-bottom: 15px;
  transform: translate(-50%, -50%);
}


#help li{
  list-style: none;
  display:list-item;
  margin: 20px;
}

#help li a{
  color: #fff;
  text-decoration: none;
  font-size: 20px;
}

#help h3{
  position: relative;
  text-align: center;
  top: 30%;
  left: 50%;
  padding-bottom: 15px;
  transform: translate(-50%, -50%);
  font-size: 20px;
  color: #fff;
}

section#report h1{
  position: relative;
  text-align: center;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 70px;
  font-weight: 700;
  color: #fff;
}

section#report p{
  position: relative;
  text-align: center;
  top: 40%;
  left: 50%;
  padding-bottom: 15px;
  transform: translate(-50%, -50%);
  font-size: 20px;
  color: #fff;
}

section#statistics h1{
  position: relative;
  text-align: center;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 70px;
  font-weight: 700;
  color: #fff;
}

.graphs{
  width: 400px;
  height: 400px;
  margin-top: 50px;
  display: flex;
}

.graphs img{
  width: 300px;
  height: 300px;
}

.graphs .box{
  width: 300px;
  height: 300px;
  box-shadow: -1px 0 10px #000;
  align-items: center;
  justify-content: center;

}



